@charset "UTF-8";
/* CSS Document */
h1{text-align: center;
	color: #092E99;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

body{
	background-color:beige
}
.p-color{
	color:#092E99;
	font-style: italic;
}

h3{
    color:#008A51;
	font-style:oblique;
	text-decoration:underline;
}
