@charset "UTF-8";
/* CSS Document */
body{
	background-color:black
}

div{
	margin:20px;
}

div#first{
	height: 20px;
	width:1000px;
	color:#EDC5FF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	position: absolute;
	left:20px;
	top:20px;
}

div#second{
	height: 210px;
	width:1000px;
	color:aliceblue;
	position: absolute;
	left:20px;
	top:80px;
}

div#third{
	height:340px;
	width:1000px;
	background:#EDC5FF;
	position: absolute;
	left:20px;
	top:270px;
}
div#fourth{
	height: 265px;
	width:1000px;
	background:#EDC5FF;
	position: absolute;
	left:20px;
	top:670px;
}

div#fifth{
	position: absolute;
	left:20px;
	top:970px;
}



